.hero {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    margin: 0 auto;

    & .finished {
        max-height: 4rem;
    }
  }
  
  .info {
    flex: 0.5;
  }
  
  .title {
    font-size: 5rem;
    margin: 0;
    margin-bottom: 2rem;
  
    & span {
      color: var(--color-gold);
    }
  }
  .subtitle {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
  
    & span {
      color: var(--color-gold);
    }
  }
  
  .desc {
    font-size: 2.3rem;
    line-height: 1.3;
    color: var(--color-gray);
    margin-bottom: 5rem;
  }
  
  .figure {
    overflow: hidden;
    flex: 0.5;
    margin-left: 3rem;
  
    & img {
      width: 100%;
      margin: 0 auto;
      display: block;
      animation: bounce 3s ease-in-out infinite;
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-1rem);
    }
  
    100% {
      transform: translateY(0rem);
    }
  }
  