:root {
  --color-bg-main-lighter: #000030;
  --color-bg-main-darker: #030017;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #c2c2c2;
  --color-gray-2: #a8a8a8;
  --color-gray-3: #6d6d6d;
  --color-gold: #ffae00;
  --color-dark: #030017;
  --color-dark-2: #1a172e;
  --color-red: #db2929;
}
