.nft {
  border-radius: 1.5rem;
  background-color: var(--color-dark-2);
  overflow: hidden;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}

.nft-image {
  width: 35rem;
  height: 35rem;
  object-fit: cover;
  background-color: var(--color-gray-3);
}

.nft-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  font-weight: 500;

  & > * + * {
    margin-top: 0.7rem;
  }
}

.nft-info-title {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}

.nft-info-subtitle {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: var(--color-gray);
}

.nft-footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding: 1.8rem;
  justify-content: flex-end;
  line-height: 1;
  border-top: 0.1rem solid var(--color-gray-3);
  font-size: 1.6rem;

  & button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;

    &:hover {
      color: var(--color-red);
    }

    & svg {
      width: 2.1rem;
      height: 2.1rem;
    }
  }
}
