.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 5rem;
  margin-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 35rem));
  grid-gap: 3rem;
  justify-content: center;
}
