.one {
  position: relative;
  width: 39rem;
  padding: 3rem;
  border-radius: 1.5rem;
  background-color: var(--color-dark-2);
}

.one-image {
  width: 100%;
  height: 33rem;
  object-fit: cover;
  border-radius: 1rem;
  background-color: var(--color-gray-3);
}

.one-info {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  grid-column-gap: 1.7rem;
  grid-row-gap: 0.8rem;
  line-height: 1;
}


.one-avatar {
  border-radius: 10rem;
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  grid-row: 1 / -1;
  background-color: var(--color-gray-3);
}

.one-title {
  font-size: 1.8rem;
  align-self: flex-end;
}

.one-subtitle {
  font-size: 1.5rem;
  align-self: flex-start;
  color: var(--color-gray);
}

.full-width {
  grid-column: 1 / -1;
  width: 100%;
}
