.header {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.logo-link {
  max-width: 26rem;
  height: auto;
  display: flex;
  margin-right: 3rem;

  & img {
    width: 100%;
    height: 100%;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
  margin-right: auto;

  & .right {
    margin-left: auto;
  }
}

.item {
  display: inline-block;

  & a {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.2rem 3rem;
    display: block;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--color-gold);
    }
  }

  &--active {
    color: var(--color-gold) !important;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.metamask-install {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.metamask-install-desc {
  margin-bottom: 1rem;
}
.metamask-install-anchor {
  text-decoration: none;
}
.modal-action {
  background: none;
  border: none;
  margin-bottom: 2rem;

  &:focus {
    outline: none;
  }

  & svg {
    height: 13rem;
    width: 13rem;
  }
}

.modal-info {
  margin-top: 3rem;
  text-align: center;
  max-width: 40rem;
  line-height: 1.5;
}
