.block {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 3rem;
  text-align: center;

  & h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-gold);
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  & h3 {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  & p {
    font-size: 1.8rem;
    line-height: 1.5;
    max-width: 120rem;
    margin: 0 auto;
    color: var(--color-gray-2);
  }
}
